html,
body {
  min-height: 100%;
}

body {
  font-family: 'Roboto', 'Open Sans', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  background-color: $white;
  font-size: 0.875rem;

  @include respond-to('md') {
    font-size: 1rem;
  }
}

h1 {
  font-weight: 300;
  font-size: 1.75rem;
  line-height: 1.25;
}